.playerInfo{
    text-align: center;
}
li {
    list-style: none;
    position: relative;
}
span.online,
span.offline {
    text-decoration: none;
}
span.online:before,
span.offline:before {
    content: "•";
    width:10px;
    height: 10px;
    color: green;
    position: absolute;
    bottom: 40%;
    left: 25%;
    text-decoration: none;
    font-size: 300%;
}
span.offline::before {
    color: red;  
}
.newsfeedlist li {
    display: block;
}